#flexbox-container {
  display: flex;
  flex-flow: wrap;
  align-items: stretch;
}

div.content {
  flex: 1 1 auto;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

.buttonDiv {
  color: yellowgreen;
  text-align: center;
}
